.button {
    background-color: rgba(119,79,236,255);
    color: #fff;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 10px;
    border-style: hidden;

    margin-left: 2em;

    font-weight: 700;
}